* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header {
    margin: 47px 0 0 42px;
}

.link-header {
    margin-right: 32px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.875px;
    text-align: center;
    color: #17233d;
    cursor: pointer;
}

button {
    width: 124px;
    height: 51px;
    border-radius: 6px 6px 6px 6px;
    border: 1px 1px 1px 1px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.imglogo {
    
    margin-top: 163px;
    margin-left: 121px;
    display: inline-block;
}

section {
    margin-left: 84px;
    display: inline-block;
   
}

h1 {
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    width: 582px;
    height: 164px;
    top: 342px;
    left: 801px;
    color: #161a49;

}

p {
    width: 493px;
    height: 99px;
    top: 553px;
    left: 801px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4b505a;
}

.link {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6fbf44;
    cursor: pointer;
    width: 112px;
    height: 27px;
    top: 55px;
    left: 801px;
    cursor: pointer;
}

@media screen and (max-width: 900px){
  

  section{
    text-align: center;
    margin: 124px 43px 112px;
    display: block;
    width: 100%;
    height: 50%;
    padding:0%
}
  h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
  p{
    font-size: 18px;
    line-height: 33px;
    font-weight: 400;
    margin-top: 29px;
  }
  .imglogo{
    width: 312px;
    height: 288px;
    
  }
  .link{
    margin-top: 26px;
  }
  .link-header{
    display: none;
  }

main{
    display: flex;
    flex-direction: column-reverse;
}
header{
    display: flex;
    justify-content: flex-end;
}
}
/*desfio1*/ 